.lift{
    background-image:url('up-elevator-svgrepo-com.svg');
    background-color: lightcoral;
    border-radius: 4px;
    position:absolute;
    padding: 10px !important;
    padding-left: 50%;
    height: 30px;
    width: 23px;
    margin-top: 20px;
    transition: all 10s;
    color: #fff;
    text-align: center;
    font-weight: 200px;
}